<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
<body>
        <main>
            <section class="hero">
                <div class="overlay"></div>
                <div class="hero-content">
                    <div class="hero-text">
                        <h1>Welcome to CSE Motors!</h1>
                        <h2 class="blue-text">DMC Delorean</h2>
                        <ul>
                            <li>3 Cup holders</li>
                            <li>Superman doors</li>
                            <li>Fuzzy dice!</li>
                        </ul>
                        <img src="/images/site/own_today.png" alt="Own Today Button">
                    </div>
                </div>
            </section>
            
            <div class="content-wrapper">
                <section class="upgrades">
                    <h2>Delorean Upgrades</h2>
                    <div class="upgrades-grid">
                        <div class="upgrade-item">
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                            <a href="#"><p>Flux Capacitor</p></a>
                        </div>
                        <div class="upgrade-item">
                            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                            <a id="white" href="#"><p>Flame Decals</p></a>
                        </div>
                        <div class="upgrade-item">
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                            <a href="#"><p>Bumper Stickers</p></a>
                        </div>
                        <div class="upgrade-item">
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                            <a  href="#"><p>Hub Caps</p></a>
                        </div>
                    </div>
                </section>
                
                <section class="reviews">
                    <h2>DMC Delorean Reviews</h2>
                    <ul>
                        <li>"So fast it's almost like traveling in time." (4/5)</li>
                        <li>"Coolest ride on the road." (4/5)</li>
                        <li>"I'm feeling McFly!" (5/5)</li>
                        <li>"The most futuristic ride of our day." (4/5)</li>
                        <li>"80's livin and I love it!" (5/5)</li>
                    </ul>
                </section>
            </div>
        </main>
        
</body>
</html>